.contenedorMenuSeleccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  background: linear-gradient(180deg, #00aaff 40%, #00071f  100%);
}

.botonesMenuSeleccion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}



button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #ff1500;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.2s;
    
}

button:hover {
  position: relative;  
  background-color: #cc1200;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  transform: scale(1.05);
}